/* Main header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #334255;
  padding: 0.625rem; 
  color: white;
  flex-wrap: wrap;
}


.header-section {
  flex: 1;
  text-align: center;
  margin: 0.3125rem 0; 
}

.logo {
  width: 3.75rem;   
  height: 3.75rem;  
  border-radius: 50%;
  object-fit: cover;
}

.nav-links a {
  margin: 0 0.625rem; 
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: yellow;
}


.icon svg {
  color: yellow;
  font-size: 1.75rem; 
  cursor: pointer;
}

@media (max-width: 768px) { 
  .header {
    flex-direction: column;
  }

  .nav-links {
    margin: 0.625rem 0; 
  }

  .logo {
    width: 2.5rem;  
    height: 2.5rem; 
  }
}
