/* ===== Footer Wrapper ===== */
.main-container{
    background-color:#151f2e;
    padding-bottom: 1rem;
}
.footer-container {
  background-color: #151f2e;
  color: white;
  padding: 3rem 2rem;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  position: relative;
  padding-bottom: 3rem;

}

.footer-container .topcar {
  max-width: 450px;
  margin-bottom: 2.5rem
}

.footer-container .topcar h2 {
  color: #ffc400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.footer-container .topcar p {
   font-size: 1rem;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 1.8rem;
  max-width: 450px;

}

.detailed-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.detailed-container > div {
  flex-direction:row;
  min-width: 200px;
}

.detailed-container h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #ffc400;
  text-transform: uppercase;
}

.detailed-container p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #ccc;
  cursor: pointer;
}

.detailed-container p:hover {
  color: white;
}
.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icons svg {
  font-size: 1.5rem;
  color: #00bcd4;
  cursor: pointer;
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #fff;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #444; /* dark grey line */
  margin-top: 2rem;
  margin-bottom: 1rem;
}



@media (max-width: 480px) {
    .footer-container{
        flex-direction: column;
    }
  .detailed-container {
    flex-direction: row;
  }

  .footer-container .topcar h2 {
    font-size: 1.6rem;
  }

  .footer-container .topcar p {
    font-size: 0.95rem;
  }

  .detailed-container h3 {
    font-size: 1.1rem;
  }

  .detailed-container p {
    font-size: 0.95rem;
  }
}
